.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks

# Windows/desktop build outputs
windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
